
@{
    ViewBag.Title = "Index";
}

@model IPagedList<Report.Models.DTO.TonKhoHienThoi_DTO>
@using PagedList.Mvc
@using PagedList
@{
    var monthYearList = ViewBag.MonthYearList as List<string>;
    var stoCodeList = ViewBag.StoCodeList as List<string>;
}



<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
        <div class="row">
            <div class="col-md-3">
                @using (Html.BeginForm("Search", "TonKhoHienThoi", FormMethod.Post))
                {

                    <select name="Sto_code" id="monthYearDropDown" class="custom-select">
                        @foreach (var item in stoCodeList)
                        {
                            <option value="@item" @(item == ViewBag.SelectedStoCode ? "selected" : "")>@item</option>
                        }
                    </select>

                    <select name="Ape_id" id="monthYearDropDown" class="custom-select">
                        @foreach (var item in monthYearList)
                        {
                            <option value="@item" @(item == ViewBag.SelectedApeId ? "selected" : "")>@item</option>
                        }
                    </select>


                    <input class="btn btn-success" type="submit" value="Search" />


                }
            </div>
            <div class="col-md-2 col-1">
                @using (Html.BeginForm("Export", "TonKhoHienThoi", FormMethod.Post))
                {
                    <input type="hidden" name="Export_Sto_code" id="exportStoCode" />
                    <input type="hidden" name="Export_Ape_id" id="exportApeId" />
                    <input type="submit" id="bodyClick" class="btn btn-primary" value="Export" />
                }
            </div>
        </div>
    </div>


</nav>






<div class="content">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="collapse navbar-collapse">
                    <table class="fold-table">
                        <thead>
                            <tr>
                                <th class="no-wrap">Mã Lô</th>
                                <th class="no-wrap">Mã Hàng</th>
                                <th class="no-wrap">Tên Hàng</th>
                                <th class="no-wrap">ERP Code</th>
                                @*<th>Khu Vực Kho</th>*@
                                <th class="no-wrap">Tên Thuộc Tính</th>
                                <th class="no-wrap">Tồn Cuối</th>
                                <th class="no-wrap">ĐVT</th>
                                @*<th>Mã Kho</th>*@
                                <th class="no-wrap">Tồn Cuối Quy Đổi</th>
                                <th class="no-wrap">Mẫu</th>
                                <th class="no-wrap">Số Bảng Kê</th>
                                <th class="no-wrap">Số Trục</th>
                                <th class="no-wrap">Mã Mẫu</th>
                                <th class="no-wrap">Kích Kho</th>
                                <th class="no-wrap">Khách Hàng</th>
                                <th class="no-wrap">Đơn Đặt Hàng</th>
                                <th class="no-wrap">Số Hóa Đơn</th>
                                <th class="no-wrap">Ngày Nhập</th>
                                @*<th>Sử Dụng</th>*@

                                <th class="no-wrap">Phân Loại</th>
                                <th class="no-wrap">PO</th>
                                <th class="no-wrap">Yarn Lot</th>
                                <th class="no-wrap">Thành Phần Vải</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr class="view">
                                        <td class="center">@item.Ma_lo</td>
                                        <td class="center">@item.Ma_hang</td>
                                        <td class="center">@item.Ten_hang</td>
                                        <td class="center">@item.ERP_CODE</td>

                                        @*<td>@item.Khu_vuc_kho</td>*@
                                        <td>@item.Ten_thuoc_tinh</td>
                                        <td class="center">@item.Ton_cuoi</td>
                                        <td class="center">@item.DVT</td>
                                        @*<td>@item.makho</td>*@
                                        <td class="center">@item.Ton_cuoi_quy_doi</td>
                                        <td class="center">@item.Mau </td>
                                        <td class="center">@item.SoBangKe</td>
                                        <td class="center">@item.SoTruc</td>
                                        <td class="center">@item.MaMau</td>
                                        <td class="center">@item.KichKho</td>
                                        <td class="center">@item.KhachHang</td>
                                        <td class="center">@item.DonDatHang</td>
                                        <td class="center">@item.SoHD</td>
                                        <td class="center">@item.Ngay_nhap</td>
                                        @*<td>@item.SuDung</td>*@
                                        <td class="center">@item.PhanLoai</td>
                                        <td class="center">@item.PO</td>
                                        <td class="center">@item.YARN_LOT</td>
                                        <td class="center">@item.THANH_PHAN_VAI</td>

                                    </tr>
                                    <tr class="fold">
                                        <td colspan="7">
                                            <div class="fold-content">

                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th class="no-wrap">Hợp Đồng GC</th>
                                                            <th class="no-wrap">Số Vận Đơn</th>
                                                            <th class="no-wrap">Ngày Vận Đơn</th>
                                                            <th class="no-wrap">Số Tờ Khai Hải Quan</th>
                                                            <th class="no-wrap">Ngày Tờ Khai Hải Quan</th>
                                                            <th class="no-wrap">Mã Hợp Đồng</th>
                                                            <th class="no-wrap">Số Hợp Đồng</th>
                                                            <th class="no-wrap">Loại Giao Dịch</th>
                                                            <th class="no-wrap">Thành Phần Vải</th>
                                                            <th class="no-wrap">Số Phiếu Nhập</th>
                                                            <th class="no-wrap">Số Chứng Từ</th>
                                                            <th class="no-wrap">Mã Hải Quan</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var detail in item.TonKhoHienThoi_Details_DTO)
                                                        {
                                                            <tr>
                                                                <td>@detail.HD_GC</td>
                                                                <td>@detail.SO_VAN_DON</td>
                                                                <td>@detail.NGAY_VAN_DON</td>
                                                                <td>@detail.SO_TO_KHAI_HAI_QUAN</td>
                                                                <td>@detail.NGAY_TO_KHAI_HAI_QUAN</td>
                                                                <td>@detail.MA_HOP_DONG</td>
                                                                <td>@detail.SO_HOP_DONG</td>
                                                                <td>@detail.LOAI_GIAO_DICH</td>
                                                                <td>@detail.THANH_PHAN_VAI</td>
                                                                <td>@detail.SO_PHIEU_NHAP</td>
                                                                <td>@detail.SO_CHUNG_TU</td>
                                                                <td>@detail.MA_HAI_QUAN</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }



                            }

                        </tbody>
                    </table>
                </div>
            </nav>
            @if (Model != null && Model != null && Model.Any())
            {
                <div>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            }
        </div>
    </div>
</div>




<style>

    .no-wrap {
        white-space: nowrap; /* Ngăn chặn chữ trong thẻ <th> bị xuống dòng */
    }

    .fold-table {
        border-collapse: collapse;
    }

    td.center {
        text-align: center;
        vertical-align: middle;
    }

    .fold-table th,
    .fold-table td {
        border: 1px solid #000; /* Màu và độ dày của đường viền */
        padding: 8px; /* Khoảng cách giữa nội dung và đường viền */
    }

    .pcs:after {
        content: " pcs";
    }

    .cur:before {
        content: "$";
    }

    .per:after {
        content: "%";
    }

    * {
        box-sizing: border-box;
    }

    body {
        padding: 0.2em 2em;
    }

    table {
        width: 100%;
    }

        table th {
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        table th, table td {
            padding: 0.4em;
        }

        table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
            cursor: pointer;
        }

            table.fold-table > tbody > tr.view td:first-child,
            table.fold-table > tbody > tr.view th:first-child {
                position: relative;
                padding-left: 20px;
            }

                table.fold-table > tbody > tr.view td:first-child:before,
                table.fold-table > tbody > tr.view th:first-child:before {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    width: 9px;
                    height: 16px;
                    margin-top: -8px;
                    font: 16px fontawesome;
                    color: #999;
                    content: "";
                    transition: all 0.3s ease;
                }

        table.fold-table > tbody > tr.view:nth-child(4n-1) {
            background: #eee;
        }

        table.fold-table > tbody > tr.view.open {
            background: tomato;
            color: white;
        }

            table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
                transform: rotate(-180deg);
                color: #333;
            }

        table.fold-table > tbody > tr.fold {
            display: none;
        }

            table.fold-table > tbody > tr.fold.open {
                display: table-row;
            }

    .fold-content {
        padding: 0.5em;
    }

        .fold-content h3 {
            margin-top: 0;
        }

        .fold-content > table {
            border: 2px solid #ccc;
        }

            .fold-content > table > tbody tr:nth-child(even) {
                background: #eee;
            }
</style>

<script>
    $(function () {
        $(".fold-table tr.view").on("click", function () {
            $(this).toggleClass("open").next(".fold").toggleClass("open");
        });
    });
</script>

<script>
    window.onload = function () {
        var defaultStoCode = document.getElementById("stoCodeDropDown").value;
        document.getElementById("exportStoCode").value = defaultStoCode;

        var defaultApeId = document.getElementById("apeIdDropDown").value;
        document.getElementById("exportApeId").value = defaultApeId;
    }
    document.getElementById("stoCodeDropDown").addEventListener("change", function () {
        var selectedStoCode = this.value;
        document.getElementById("exportStoCode").value = selectedStoCode;
    });

    document.getElementById("apeIdDropDown").addEventListener("change", function () {
        var selectedApeId = this.value;
        document.getElementById("exportApeId").value = selectedApeId;
    });
</script>
<style>


    .custom-select {
        position: relative;
        width: 200px;
        padding: 5px;
        margin-top: 10px;
    }

    #bodyClick {
        width: 100px;
        padding: 5px;
        margin-top: 10px;
        position: relative
    }

    .custom-select select {
        display: block;
        width: 150%;
        padding: 10px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        background-color: #f1f1f1;
        appearance: none; /* Loại bỏ giao diện mặc định của select */

    }
</style>
